@model SiteAsientos.Models.Design 
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var HeaderTitle = "Borrar Diseño";
    ViewBag.ViewName = "Gestión de Diseños";
    ViewBag.SelectedView = "Design";
}

<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">@HeaderTitle</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="row">
                    <div class="col-md-6 w-75 m-2">
                        <dl class="dl-horizontal">
                            <div class="alert alert-warning">
                                Esta acción no se puede deshacer. Si el diseño posee imágenes, también serán eliminadas permanentemente.
                            </div>
                            <dt>Descripción</dt>
                            <dd>@Model.Design_Description</dd>

                            <dt>Material</dt>
                            <dd>@(Model.Material?.Material_Name ?? "Sin material")</dd>

                            <dt>Color</dt>
                            <dd>@Model.Design_Color</dd>

                            <dt>Precio</dt>
                            <dd>@Model.Design_Price.ToString("C")</dd>

                            <dt>Impuesto</dt>
                            <dd>@Model.Design_Taxable.ToString("P")</dd>

                            <dt>Estado</dt>
                            <dd>@(Model.Design_Status ? "Activo" : "Inactivo")</dd>
                        </dl>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Design_Id"/>
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <a asp-action="Index" class="btn btn-primary">Volver</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>