@model SiteAsientos.Models.Design

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Design</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Design_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Design_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Vehicle_Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentralDesign)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentralDesign.CentralDesign_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LateralDesign)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LateralDesign.LateralDesign_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image.Image_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Design_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
