@model IEnumerable<SiteAsientos.Models.Design>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Design_Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleSeat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CentralDesign)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LateralDesign)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Design_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleSeat.VehicleSeat_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CentralDesign.CentralDesign_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LateralDesign.LateralDesign_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image.Image_Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Design_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Design_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Design_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
