@model SiteAsientos.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order_Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order_Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order_CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order_CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order_CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order_CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order_CustomerPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order_CustomerPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order_CustomerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order_CustomerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order_CustomerPlateNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order_CustomerPlateNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order_FirstVisitDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order_FirstVisitDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order_SecondVisitDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order_SecondVisitDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerCar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerCar.Vehicle_Brand)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Order_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
