@model IEnumerable<SiteAsientos.Models.Supplier>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var HeaderTitle = "Proveedores";
}

@* 
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Supplier_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier_Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier_Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier_DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier_Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier_Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier_DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier_Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Supplier_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Supplier_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Supplier_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@

<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">@HeaderTitle</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    <div class="input-group input-group-outline w-15 m-2">
                        <label class="form-label">Buscar</label>
                        <input id="txtSearch" type="text" class="form-control">
                    </div>
                    <div class="pt-3">
                        <a asp-action="Create" class="btn btn-primary">Agregar</a>
                    </div>
                </div>
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> @Html.DisplayNameFor(model => model.Supplier_Name)</th>
                                @* <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> @Html.DisplayNameFor(model => model.Supplier_Address)</th> *@
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"> @Html.DisplayNameFor(model => model.Supplier_Phone)</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-3"> @Html.DisplayNameFor(model => model.Supplier_Email)</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-4"> @Html.DisplayNameFor(model => model.Supplier_DateAdded)</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">@Html.DisplayNameFor(model => model.Supplier_Status)</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="~/img/project-img/img-supplier.png" class="avatar avatar-sm me-3 border-radius-lg" alt="user1"> <!--Icon made by nawicon from www.flaticon.com-->
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">@Html.DisplayFor(modelItem => item.Supplier_Name)</h6>
                                            </div>
                                        </div>
                                    </td>
                  @*                   <td>
                                        <span class="text-secondary text-xs font-weight-bold">@Html.DisplayFor(modelItem => item.Supplier_Address)</span>
                                    </td> *@
                                    <td>
                                        <span class="text-secondary text-xs font-weight-bold">@Html.DisplayFor(modelItem => item.Supplier_Phone)</span>
                                    </td>
                                    <td>
                                        <span class="text-secondary text-xs font-weight-bold">@Html.DisplayFor(modelItem => item.Supplier_Email)</span>
                                    </td>
                                    <td>
                                        <span class="text-secondary text-xs font-weight-bold">@Html.DisplayFor(modelItem => item.Supplier_DateAdded)</span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        @if (item.Supplier_Status == true)
                                        {
                                            <span class="badge badge-sm bg-gradient-success">Habilitado</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-sm bg-gradient-secondary">Deshabilitado</span>
                                        }

                                    </td>
                                    <td class="align-middle">
                                        <a asp-action="Edit" asp-route-id="@item.Supplier_Id" Edit class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                            Editar
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @section scripts
    {
        <script src="~/js/project-js/search.js"></script>
    }

