@model SiteAsientos.Models.Material
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var HeaderTitle = "Borrar Material";
    ViewBag.ViewName = "Gestión de Materiales";
    ViewBag.SelectedView = "Material";
}

<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">@HeaderTitle</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="row">
                    <div class="col-md-6 w-75 m-2">
                        <dl class="row">
                            <div class="alert alert-warning">
                                Esta acción no se puede deshacer.
                            </div>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Material_Name)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Material_Name)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Material_Status)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Material_Status)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Supplier)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Supplier.Supplier_Address)
                            </dd>
                        </dl>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Material_Id" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <a asp-action="Index" class="btn btn-primary">Volver</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>