@model SiteAsientos.Models.VehicleAndFeatures

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Set up your Vehicle</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            
                    <div class="input-group input-group-outline mb-4">
                                                
                        <select id="brandSelect" class="form-control" asp-for="@Model.features.SelectedBrand" asp-items="@(new SelectList(Model.features.Brands))">
                            <option value="">-- Select Brand --</option>
                        </select>
                        <span asp-validation-for="@Model.features.SelectedBrand" class="text-danger"></span>
                    </div>

                    <div class="input-group input-group-outline mb-4">
                       
                        <select id="modelSelect" class="form-control"  asp-for="@Model.vehicle.Vehicle_Model">
                            <option value="">-- Select Model --</option>
                        </select>
                        <span asp-validation-for="@Model.vehicle.Vehicle_Model" class="text-danger"></span>
                    </div>

                    <div class="input-group input-group-static mb-4">
                        <label>Year</label> 
                        
                        <input class="form-control"
                               asp-for="vehicle.Vehicle_ModelYear"
                               type="number"
                               min="1950"
                               max="@DateTime.Now.Year"
                               style="border:thin;" />

                        <span asp-validation-for="@Model.vehicle.Vehicle_ModelYear" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
        </form> 
        <form asp-controller="Vehicle" asp-action="Index" method="get">

            <input type="submit" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true" value="Back to List" />
        </form>
    </div>
</div>

 


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#brandSelect').change(function () {
                var selectedBrand = $(this).val();
                console.log()
                if (selectedBrand) {
                    $.ajax({
                        url: "GetModels",
                        type: 'GET',
                        data: { brand: selectedBrand },
                        success: function (data) {
                            var modelSelect = $('#modelSelect');
                            modelSelect.empty();
                            modelSelect.append('<option value="">-- Select Model --</option>');
                            $.each(data, function (i, model) {
                                modelSelect.append('<option value="' + model + '">' + model + '</option>');
                            });
                        }
                    });
                } else {
                    $('#modelSelect').empty().append('<option value="">-- Select Model --</option>');
                }
            });
        });
    </script>
} 